# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.gitignore.rtf
.idea/
common/.DS_Store
common/__pycache__/
data/map/.DS_Store
map/__pycache__/
map/test.py
simulation/__pycache__/
simulation/game_dir/.DS_Store
simulation/game_dir/.gitignore
simulation/game_dir/.gitignore.swp
simulation/game_dir/__pycache__/
simulation/renderer/__pycache__/
simulation/renderer/test.py
simulation/vehicle/__pycache__/
simulation/world/__pycache__/
